:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --set-color: #bdbdbd;
  --setbar-color: #727171;
}

:root Toolbar
{
  background-color: white;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --set-color: #f5f5f5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.1s ease, color 0.1s ease;
}